/* Variables */

:root {
    --backgroundColor: #000000; /*black*/
    --vibrantOrange: #ff4d00;
    --easyOrange: #ff6929;
	--gray: #BCC6CC;
	--white: #FFF5EE;
	--black: black;
	--shadowGray: #4f5254;
	--buttonColor: #fc5744;
	--gsapGreen: #89ce02;
	--billingBlue: #27c7fb;
}

body {
	scroll-behavior: smooth;
}


.billing-orange {
	background-image: linear-gradient(50deg, var(--black), var(--black), var(--black), var(--black), var(--black), var(--black), #2b1308, #5e2811, var(--vibrantOrange), var(--vibrantOrange));
    height: 100vh;
    width: 100vw;
	overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.techNamed {
	font-family: courier;
	background-color: var(--shadowGray); 
	padding: 2px;
}



.billing-wrapper {
	width: 60vw;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5em;
	color: var(--white);
	padding: 5vh;
}

.billing-wrapper a,
.billing-wrapper a:visited {
	color: var(--billingBlue);
}

.billing-wrapper a:hover {
	color: purple;
}

.billing-onscroll {
	width: 100vw;
}

.billing-note {
	font-style: italic;
	color: var(--billingBlue);
	margin: 2em;
	border-left: 2px solid var(--billingBlue);
	padding-left: 1em;
}

.billing-wrapper li {
	margin: .75em;
}

.billing-wrapper ul {
	margin: 1em 0 0 3em;
}

.billing-wrapper dd {
	margin: .25em 0 2em 2em;
}

.billing-wrapper p {
	margin: 1em 0 2em 0;
}

.billing-wrapper p,
.billing-wrapper ul,
.billing-wrapper ol,
.billing-dropdown,
.billing-dropdown-content,
.billing-dropdown-icon {
	line-height: 1.75em;
}

.billing-h1 {
	font-size: 80px;
	margin: .75em 0 0 .75;
	font-weight: 800;
}

.billing-wrapper h2 {
	border-bottom: 2px solid var(--white);
	margin: 4em 0 2em 0;
}

.billing-wrapper h3 {
	margin: 2em 0 1.25em 0;
}


.billing-wrapper table {
	color: var(--white);
	border: 1px solid var(--white);
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

.billing-wrapper th {
	font-size: 1.2em;
	background-color: #1b8baf;
	padding: .5em;
}

.billing-wrapper td {
	padding: 1em;
	border: 1px solid var(--white);
}





/* SKINNY SCREENS */

@media screen and (max-width: 1000px){

    .billing-wrapper {
		width: 95vw;
	}
	.billing-wrapper ul {
		margin: 1em 0 0 .5em;
	}

}


@media screen and (max-width: 650px){

    .billing-wrapper {
		margin-top: 10em;
	}
    
	.billing-h1 {
		font-size: 50px;
	}

}





@media screen and (max-width: 440px){

    .billing-wrapper {
		
	}
    

}